$c-white-100: rgb(255, 255, 255);
$c-white-200: rgb(240, 240, 240);
$c-white-300: rgb(226, 226, 226);
$c-white-400: rgb(202, 202, 202);


$c-blue-000: #BAC8FF;
$c-blue-100: #91A7FF;
$c-blue-200: #748FFC;
$c-blue-300: #5C7CFA;
$c-blue-400: #4C6EF5;
$c-blue-500: #3B5BDB;
$c-blue-600: #364FC7;


$c-purple-000: #E5DBFF;
$c-purple-100: #D0BFFF;
$c-purple-200: #B197FC;
$c-purple-300: #9775FA;
$c-purple-400: #845EF7;
$c-purple-500: #7048E8;
$c-purple-600: #5F3DC4;


$c-gray-000: #f8f9fa;
$c-gray-100: #F1F3F5;
$c-gray-200: #E9ECEF;
$c-gray-300: #DEE2E6;
$c-gray-400: #CED4DA;
$c-gray-500: #ADB5BD;
$c-gray-600: #868E96;
$c-gray-700: #495057;
$c-gray-800: #343A40;
$c-gray-900: #212529;


$c-black-000: #C1C2C5;
$c-black-100: #A6A7AB;
$c-black-200: #909296;
$c-black-300: #5C5F66;
$c-black-400: #373A40;
$c-black-500: #2C2E33;
$c-black-600: #25262B;
$c-black-700: #1A1B1E;
$c-black-800: #141517;
$c-black-900: #101113;
